@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;  
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/******* Recipe /*******/

.recipes-container {
    margin: 0 3rem 0 3rem;
}

.recipe {
    margin: 0 15px 15px 0;
    width: 250px;
    position: relative;
    background-color: #FFFBE6;
  }
  
.recipe:hover {
    box-shadow: 3px 3px 10px -6px rgba(0,0,0,1);
}
  
  .recipe-desc {
    margin: 12px 0 12px 0px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #F8F8F8;
    color: #FD5523;
    font-size: 15px;
  }
  
  .recipe-img {
    max-width: 252px;
  }
  
  .recipe-img:hover {
    cursor: zoom-in;
  }

  .recipe-info-wrapper {
    background-color: white;
  }