/******* Recipe /*******/

.recipe {
    margin: 0 15px 15px 0;
    border: 1px solid #E7E7E7;
    width: 213px;
    box-shadow: 3px 3px 16px -6px rgba(0,0,0,1);
    border-radius: 6px 6px 6px 6px;
    position: relative;
    background-color: #F8F8F8;
  }
  
  .recipe-desc {
    margin: 3px 0 15px 0px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #F8F8F8;
    border-bottom: 1px solid #E7E7E7;
    color: #777777;
    font-size: 15px;
  }
  
  .recipe-img {
    max-width: 213px;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    border-radius: 6px 6px 6px 0;
  }
  
  .recipe-img:hover {
    cursor: zoom-in;
  }

  .recipe-info-wrapper {
    background-color: white;
    border-radius: 6px 6px 6px 6px;
  }