@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    margin: 0;  
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/******* HEADER /*******/

nav {
  padding-top: 2px;
}

.container-fluid {
  width: 90%;
}

.navbar-brand-link {
  text-decoration: none;
  color: inherit;
}
  
.navbar-brand-link:hover {
  text-decoration: none;
  color: inherit;
}

.navbar-toolbar {
  position: relative;
}

.toolbar-item {
  margin: 0 1em;
}

.toolbar-item a {
  font-size: 0.8em;
  color: #525252;
  text-decoration: none;
  padding-bottom: 1px
}

.toolbar-item.active a{
  font-weight: 800;
}

.toolbar-item:hover {
  font-weight: 800;
  border-bottom: 1px solid #000; 
}

.dropdown:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 40%;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #525252;
}


/******* Recipe /*******/

.recipes-container {
    margin: 0 3rem 0 3rem;
}

.recipe {
    margin: 0 15px 15px 0;
    width: 250px;
    position: relative;
    background-color: #FFFBE6;
  }
  
.recipe:hover {
    box-shadow: 3px 3px 10px -6px rgba(0,0,0,1);
}
  
  .recipe-desc {
    margin: 12px 0 12px 0px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #F8F8F8;
    color: #FD5523;
    font-size: 15px;
  }
  
  .recipe-img {
    max-width: 252px;
  }
  
  .recipe-img:hover {
    cursor: zoom-in;
  }

  .recipe-info-wrapper {
    background-color: white;
  }

  /******* MODAL /*******/

  .modal {
    display: block;
    position: relative;
    top: 100px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}

  .modal-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

  /******* OTHER /*******/

.ajax-loader {
    display: block;
    margin: auto;
    margin-top: 150px;
  }